table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
  }
  h1{
    border: 3px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
  }
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  table {
    width: 50%;
  }
  
  th {
    height: 60px;
  }
th hover{   
    Background-color: light green
}

#button{
    width: 20%;
    font-size: 30px;
    font-family: monospace;
}

img{
    opacity: 0.7;
}
#date{
    font-family: fantasy;
    color: blueviolet;

}
    
