.column {
    float: left;
    width: 47%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    box-shadow: forestgreen;
    width: 40%;
    height: 30px ;
  }
  h1{
    font-family:candara ; 
    font-size: xx-large ;
  }
  h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  img {
        border: 5px solid #034074;
  }
    
  #button{
        size: 5px 10px;
        font-size: 20px;
        font-family: monospace;
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

 *{
  margin:0px;
   padding:0px;
  box-sizing: border-box;
 }
 nav{
  width: 100%;
  background-color: #2c3838;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
 }
 nav h2{
  color: #fff;
 }

 nav ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
 }
 nav ul li{
  list-style: none;
  padding: 0px 5px;
 }
 nav ul li a{
  color:#000000;
  font-size: 15px;
  text-decoration: none;
 }

 .container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
 }
 
 img {
   max-width: 100%;
   max-height:100%;
 }
 
 .text {
   font-size: 70px;
 }
 h3{
  color: rgb(16, 14, 13);
 }
 a:link {
  color: rgb(184, 176, 176);
  text-decoration: none;
}
calculate-btn{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



 
  